.banner-container {
        width: 80%;
        height: 20vh;
        padding: 10px 0;
        margin: 15px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% 25vh;
}

.banner-item {
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px;
        max-height: 100%;
}

.banner-title {
        font-family: 'Lobster', cursive;
        font-size: 2em;
        color: white;
        text-overflow: ellipsis;
}

.banner-name {
        font-family: 'Luckiest Guy', cursive;
        font-size: 2em;
        z-index: 2;
}

.banner-description {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        z-index: 2;
        color: white;
}

.banner-img {
        max-height: 20vh;
        width: auto;
        margin: 5px;
        z-index: 2;
}

.green-shape {
        position: relative;
        background-color: transparent;
}

.green-shape::before {
        content: " ";
        position: absolute;
        width: 23vh;
        height: 25vh;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url(../../assets/imgs/green-shape.svg);
}

.banner-button {
        width: 150px;
        height: 40px;
        color: white;
        background-color: #20cd6a;
        border-radius: 3px;
}

.banner-button a {
        color: white;
        font-size: 14px;
        text-decoration:none;
}

@media only screen and (max-width: 820px) {
        .banner-title {
                font-size: 1.5em;
        }
        .banner-description {
                font-size: 1em;
        }
}

@media only screen and (max-width: 600px) {
        .banner-name,
        .banner-title {
                font-size: 1em;
        }
        .banner-description {
                font-size: 0.9em;
        }
        .banner-container {
                width: 100%;
        }
}